@media (max-width:1024px) {
    .container{
        padding: 0 30px;
    }
    h2{
        font-size: 18px;
    }
}
@media (max-width:768px) {
    .sx-post-info {
        padding: 30px 0;
        text-align: center;
    }
    h2{
        font-size: 18px;
    }
    .section-head {
        margin-bottom: 30px;
        text-align: center;
    }
    .sx-case-study-bx .sx-case-info {
        text-align: center;
    }
    .testimonial {
        padding: 0;
        text-align: center;
    }
    .stdy_section {
        padding: 0;
    }
    .our_case_content {
        padding-top: 30px;
    }
    .large_title_info {
        margin: 30px 0;
    }
}
@media (max-width:575px) {
    .testimonial-2 .testimonial-text p {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 26px;
}
.sx-case-study-bx .sx-l-title .sx-title {
    font-weight: 400;
    font-size: 24px;
}
.sx-case-study-bx .sx-case-info {
    text-align: center;
}
.testimonial-2 .testimonial-name {
    font-size: 23px;
}
.testimonial {
    padding: 0;
    text-align: center;
}
.our_case_content {
    padding-top: 30px;
}

}